body {
    text-align: center;
    
}

#main {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 1419px;
    min-height: 1200px;
    padding: 0px;
}


#submit-area {
    /*border: 1px solid;*/
    position: relative;
    margin: 20px 10px 20px 20px;
    float: left;
    width: 100px;
    min-height: 1000px;
}

#liked-movie {
    margin: 20px 20px 20px 5px;
    float: left;
    /*border: 1px solid;*/
    width: 1260px;
    padding: 0px;
    min-height: 155px;
}


#liked-movie-list {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}


#liked-movie-list div {
    list-style: none;
    /*position: relative;*/
    float: left;
    width: 100px;
    height: 150px;
    background-color: #444;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}



#recommended-movie {
    margin: 20px 20px 20px 5px;
    float: left;
    /*border: 1px solid;*/
    width: 1260px;
    padding: 0px;
    min-height: 155px;
}


/*#recommended-movie-list {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}*/

#recommended-movie-list div {
    list-style: none;
    /*position: relative;*/
    float: left;
    width: 100px;
    height: 150px;
    background-color: #444;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}


#textarea-ids {
    margin-top: 10px;
    resize: none;
    width: 95px;
    min-height: 900px;
}


#submit-button {
    width: 100px;
}