<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recommender.css') }}">

</head>
<body>
    <div id="main">
        <div id="submit-area">
            <button id="submit-button">submit</button>
            <textarea id="textarea-ids">sss</textarea>
        </div>
        <div id="liked-movie">
            <div id="liked-movie-list">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="recommended-movie">
            <div id="recommended-movie-list">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>
        </div>
    </div>
    
</body>
</html>