<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web_recommender.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='web_recommender.js') }}"></script>
</head>
<body>
    <div id="header">
        <div id="nav">
            <a href="/recommender/">R1</a>
            <a href="/recommender/">R2</a>
            <a href="/recommender/">R3</a>
            <a href="/recommender/">R4</a>
            <a href="/recommender/">R5</a>
            <a href="/recommender/">R6</a>
        </div>
    </div>
    <div id="main">
        
        <div id="liked-movie">
            <div id="liked-movie-list">
                {% for item in liked_ids %}
                    <div>
                        <img class="img-block" src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}">
                        {{ item }}
                    </div>
                {% endfor %}

            </div>

            <div id="submit-area">
                <form id="submit-ids-form" action="{{ url_for('web_recommender_result') }}" method="post" onsubmit="return checkInput()">
                    <input type="text" id="submit-input" name="movieId" placeholder="imdb ids, seperated by comma" />
                    <button type="submit" id="submit-button">submit</button>
                </form>
            
            </div>

        </div>
        <div id="recommended-movie">
            <div class="recommended-category">
                <div class="category-title">
                    Recommended based on genre
                </div>
                <div class="recommended-movie-list">
                    {% for item in genre_recommended_ids %}
                        <div>
                            <img class="img-block" src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
                <div class="category-title">
                    Recommended based on main actor
                </div>
                <div class="recommended-movie-list">
                    {% for item in mawid_recommended_ids %}
                        <div>
                            <img class="img-block" src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
                <div class="category-title">
                    Recommended based on all features
                </div>
                <div class="recommended-movie-list">
                    {% for item in all_recommended_ids %}
                        <div>
                            <img class="img-block" src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}">
                            {{ item }}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>