<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web_recommender.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='web_recommender.js') }}"></script>
</head>
<body>
    <div id="header">
        <div id="nav">
            
            <a href="/recommender/">R</a>
            <a href="/recommender/">R</a>
            
        </div>
    </div>
    <div id="main">
        <div id="submit-area">
            <form id="submit-ids-form" action="{{ url_for('web_recommender_result') }}" method="post" onsubmit="return checkInput()">
                <button type="submit" id="submit-button">submit</button>
                <textarea id="textarea-ids" name="ids" wrap="hard"></textarea>
            </form>
            
        </div>
        <div id="liked-movie">
            <div id="liked-movie-list">
                {% for item in liked_ids %}

                    <div><img src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}" width="100px", height="150px"></div>
                {% endfor %}

            </div>
        </div>
        <div id="recommended-movie">
            <div id="recommended-movie-list">
                {% for item in recommended_ids %}
                    <div><img src="{{url_for('static', filename='images/posters/' + item + '_.jpg')}}" width="100px", height="150px"></div>
                {% endfor %}


            </div>
        </div>
    </div>
    
</body>
</html>