<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recommender.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='recommender.js') }}"></script>
</head>
<body>
    <div id="main">
        <div id="submit-area">
            <form id="submit-ids-form" action="{{ url_for('recommender_result') }}" method="post" onsubmit="return checkInput()">
                <button type="submit" id="submit-button">submit</button>
                <textarea id="textarea-ids" name="ids"></textarea>
            </form>
            
        </div>
        <div id="liked-movie">
            <div id="liked-movie-list">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="recommended-movie">
            <div id="recommended-movie-list">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>

            </div>
        </div>
    </div>
    
</body>
</html>